{% extends "master.html" %}

<!--members/templates/all_members.html-->


<!--
{#Django テンプレートは “HTML の中に Django の命令を混ぜて書く仕組み#}
-->
<!--
{# 改行して {# #} を HTML コメントの中に入れる形なら安全。
改行すると「両者が完全に独立したコメント」になるため安全
Django もブラウザも完全に無視する。 #}
-->

{% comment %}
コメントアウトこれつかっていってね
中に何かいても全部Djangoの段階で無視
{% endcomment %}

<!--
<!DOCTYPE html>
<html>
<body>
master.htmlが持ってて、それを継承したから書かなくてよくなる
   -->

{% block title %}
My Tennis Club - List of all members
{% endblock %}
    
{% block content %}

   <p><a href="/">HOME</a></p>

<h1>Members</h1>
 
<ul>
   {% for x in mymembers %}
      <li>
         <a href="details/{{ x.id }}">{{ x.firstname }} {{ x.lastname }}</a>
      </li>
   {% endfor %}
   <!--
   {# endfor これでfor文の終わり #}これでfor文の終わり
   -->
</ul>

{% endblock %}
<!--
</body>
</html>
-->