<!DOCTYPE html>
<html>
<body>

<h1>Hello {{ firstname }}, how are you?</h1>

<p>In views.py you can see how to create the variable.</p>
<p>In template.html you can see how to use the variable.</p>

{{ price }}

{% with firstname="Tobias" %}
<h1>Hello {{ firstname }}, how are you?</h1>
{% endwith %}

{% if greeting == 1 %}
  <h1>Hello</h1>
{% else %}
  <h1>Bye</h1>
{% endif %}

{% with var1=x var2=x %}
   {% if var1 is var2 %}
      <h1>YES</h1>
   {% else %}
      <h1>NO</h1>
   {% endif %}
{% endwith %}

{% for x in emptytestobject %}
<li>{{ x.firstname }}</li>
{% empty %}
<li>No members</li>
{% endfor %}

  {% for x in fruits %}
    <li>{{ forloop.counter0 }} {{x}}</li>
  {% endfor %}

{% for x in fruits %}
<li
{% if forloop.first %}
    style='background-color:lightblue;'
{% endif %}
>{{ x }}</li>
{% endfor %}

</body>
</html>